body {
    font-family: Menlo, Monaco, "Courier New", monospace;
}
body.light {
    background-color: #fafafa;
    color: #202020;
}
body.dark {
    background-color: #202020;
    color: #fafafa;
}
.lang {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.lang.light {
    background-color: #fafafa;
    color: #202020;
}
.lang.dark {
    background-color: #202020;
    color: #fafafa;
}
a {
    text-decoration: none;
}
a.light {
    background-color: #fafafa;
    color: #202020;
}
a.dark {
    background-color: #202020;
    color: #fafafa;
}