body {
    font-family: Menlo, Monaco, "Courier New", monospace;
}
body.light {
    background-color: #fafafa;
    color: #202020;
}
body.dark {
    background-color: #202020;
    color: #fafafa;
}

.lang {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

a {
    font-family: Menlo, Monaco, "Courier New", monospace;
    text-decoration: none;
}
a.light {
    background-color: #fafafa;
    color: #202020;
}
a.dark {
    background-color: #202020;
    color: #fafafa;
}

input {
    font-family: Menlo, Monaco, "Courier New", monospace;
    border-width: 1px;
    border-radius: 3px;
}
.input0 {
    width: 70px;
}
.input1 {
    width: 120px;
}
.input2 {
    width: 180px;
}
.input3 {
    width: 260px;
}
input.light {
    background-color: #fafafa;
    border-color: #202020;
    color: #202020
}
input.dark {
    background-color: #202020;
    border-color: #fafafa;
    color: #fafafa
}

textarea {
    font-family: Menlo, Monaco, "Courier New", monospace;
    border-width: 1px;
    border-radius: 3px;
}
textarea.light {
    background-color: #fafafa;
    border-color: #202020;
    color: #202020
}
textarea.dark {
    background-color: #202020;
    border-color: #fafafa;
    color: #fafafa
}

select {
    font-family: Menlo, Monaco, "Courier New", monospace;
    border-width: 1px;
    border-radius: 3px;
}
select.light {
    background-color: #fafafa;
    border-color: #202020;
    color: #202020
}
select.dark {
    background-color: #202020;
    border-color: #fafafa;
    color: #fafafa
}

button {
    font-family: Menlo, Monaco, "Courier New", monospace;
    border-width: 1px;
    border-radius: 3px;
}
button.light {
    background-color: #fafafa;
    border-color: #202020;
    color: #202020
}
button.dark {
    background-color: #202020;
    border-color: #fafafa;
    color: #fafafa
}